@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Account/_AccountLayout.cshtml";
}
<div class="login-content">
    <div style="position:relative">
        <div style="position:absolute;top:-180px;text-align:center;width:100%">
            <img style="width:250px" src="~/Content/Img/login_logo.png" />
        </div>
    </div>    
    <form class="layui-form layui-form-pane">
        <h2 style="line-height: 50px;text-align: center;padding-bottom: 20px;">User login</h2>
        <div class="layui-form-item">
            <label class="layui-form-label"><i class="layui-icon layui-icon-username"></i>Email</label>
            <div class="layui-input-block">
                <input type="text" name="email" lay-verify="title" autocomplete="off" placeholder="Email" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"><i class="layui-icon layui-icon-password"></i>Password</label>
            <div class="layui-input-block">
                <input type="password" name="password" placeholder="Password" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div>
            <button type="submit" lay-submit="" lay-filter="demo2" class="layui-btn layui-btn-fluid">Sign in</button>
        </div>
        <div class="new-user"><a href="/Account/Reg">New user registration</a></div>
    </form>
</div>
<style>
    body { background: #00c4b3; }
    .login-content { width: 420px; margin: 0 auto; margin-top: calc(50vh - 90px); border: 1px solid #ddd; padding: 30px 30px; background: #fff; box-shadow: 0 3px 5px rgba(0,0,0,.1); }
    .lang li .layui-icon-ok { margin-right: 8px; visibility: hidden; color: #009688 }
    .lang li.select .layui-icon-ok { visibility: visible }
    .lang li { line-height: 26px; border-bottom: 1px solid #ecebeb; cursor: pointer }
    .new-user { text-align: center; padding-top: 20px }
    .new-user a { text-decoration:underline;}
    .layui-btn-fluid { background: #00c4b3;color:#333 }
    .layui-btn:hover { color: #333 }
    .layui-form-pane .layui-form-label { width: 118px }
    .layui-form-pane .layui-input-block { margin-left: 118px }
</style>
<script>
    layui.use(['form'], function () {
        var form = layui.form;
        //监听提交
        form.on('submit(demo2)', function (data) {
            $.post("/Account/Login", data.field, function (data) {
                var res = JSON.parse(data);
                if (res.success) {
                    location.href="/Home/Index"
                }
                else {
                    layer.alert("Wrong user name or password！");
                }
            })
            return false;
        });

    })
</script>