@{
    ViewBag.Title = "News";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ViewBag.NavIndex = 5;
}
@using TradeForce.Models;
@model news
<link href="~/Content/Css/About.css" rel="stylesheet" />
<div class="main-bd">
    <h2 class="crumbs">PRODUCTS  &gt; <a style="color: #101820;" href="javascript:">MEDIA CENTER</a>  &gt;  <a style="color: #101820;" href="/Media/News">NEWS</a> </h2>
</div>
<div class="newsBg">
    <div class="news-detail">
        <dl class="nd-title">
            <dt>@Model.Title</dt>
            <dd>@(Model.InsertDate?.ToString("dd.MM.yyyy"))</dd>
        </dl>
        <div class="nd-con">
            <img class="img" src="@(ViewBag.AdminUrl)/Upload/News/@(Model.Img)"/>
            <div style="padding-top:30px">
                @Html.Raw(Model.Content)
            </div>
        </div>
    </div>
</div>

<style>
    .newsBg { padding-bottom: 265px; background: url(/Content/Img/News/bg01.jpg) no-repeat center bottom; }
    .news-detail { width: 940px; margin: 0 auto; }
    .nd-title dt { color: #2d2a26 ;font-size:48px;padding:30px 0}
    .nd-title dd { color: #888; font-size: 16px; line-height: 52px; border-bottom: 1px solid #d8dfe1 }
    .nd-con { width: 780px; margin: 0 auto; padding-top: 70px; font-size: 16px; line-height: 1.5em; }
    .nd-con .img { height:290px;width:555px}
    .nd-con dl {color:#333;padding-top:65px;padding-bottom:15px }
    .nd-con dl dt { font-size: 24px; font-family: 'acuminprosemicondblod'; padding-bottom: 2px; }
    .nd-con dl dd { font-size: 18px; padding-top: 24px; line-height: 24px; }
</style>