@{
    ViewBag.Title = "News";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ViewBag.NavIndex = 5;
}
<link href="~/Content/Css/About.css" rel="stylesheet" />
<div class="main-bd">
    <h2 class="crumbs">PRODUCTS  &gt; <a style="color: #101820;" href="javascript:">MEDIA CENTER</a>  &gt;  <a style="color: #101820;" href="/Media/News">NEWS</a> </h2>
</div>
<div class="newsBg">
    <div class="news-detail">
        <dl class="nd-title">
            <dt>Robotic Process Automation 6 common misconceptions</dt>
            <dd>18.07.2020</dd>
        </dl>
        <div class="nd-con">
            <img class="img" src="/Content/Img/Index/news_02.jpg"/>
            <dl>
                <dt>What false expectations are raised using RPA in companies</dt>
                <dd>The advantage of Robotic Process Automation (RPA) is that it automates repetitive, remedial tasks and frees employees to work on higher value tasks. But many companies believe RPA will enable them to automate even the most complex Business Process Management (BPM) activities, although there are much more suitable solutions available. The following overview shows which other misconceptions companies frequently use to counter RPA solutions.</dd> 
            </dl>
            <dl>
                <dt>Misconception #1 RPA fully automates processes from A to Z</dt>
                <dd>It’s the right decision to automate structured, repetitive tasks with RPA, as it’s the best tool for this purpose. It shows its strength especially in shorter, repetitive activities of usually a few minutes. This includes, for example, retrieving data from one system and storing it in another.</dd>
                <dd>RPA is best for activities that require multiple repetitions of the same sequence and could be conducted in parallel to create greater efficiencies. For example, B2B companies often have to check several portals or suppliers in order to buy inventory at the best rate. An employee would have to work through all the steps in each portal sequentially. But with RPA, the software robots act as “digital colleagues”. They monitor product prices and regularly inform employees about changes, retrieving figures from all portals simultaneously.</dd>
            </dl>
        </div>
    </div>
</div>

<style>
    .newsBg { padding-bottom: 265px; background: url(/Content/Img/News/bg01.jpg) no-repeat center bottom; }
    .news-detail { width: 940px; margin: 0 auto; }
    .nd-title dt { color: #2d2a26 ;font-size:48px;padding:30px 0}
    .nd-title dd { color: #888; font-size: 16px; line-height: 52px; border-bottom: 1px solid #d8dfe1 }
    .nd-con { width: 780px; margin: 0 auto;padding-top:70px }
    .nd-con img { height:290px;width:555px}
    .nd-con dl {color:#333;padding-top:65px;padding-bottom:15px }
    .nd-con dl dt { font-size: 24px; font-family: 'acuminprosemicondblod'; padding-bottom: 2px; }
    .nd-con dl dd { font-size: 18px; padding-top: 24px; line-height: 24px; }
</style>