@{
    ViewBag.Title = "Privacy Policy";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ViewBag.NavIndex = 6;
}
<link href="~/Content/Css/About.css" rel="stylesheet" />
<div class="ban01">
    <img src="~/Content/Img/News/DLbanner.jpg" />
</div>
<div class="brand-story" id="privacy">
    <h2>Privacy Policy</h2>
    <h3></h3>
</div>
<div class="main1180">
    <div class="privacy-content">
        <dl>
            <dt>1.  WHAT YOU NEED TO KNOW</dt>
            <dd>“Personal Data” means information by which you (“You” or the “User”), as a natural person can be directly (for example, by reference to a first or last name) or indirectly (for example, through a phone or ID number) identified.</dd>
            <dd>Personal Data “Processing” means an operation or set of operations performed on your Personal Data (such as collection, structuring, storage, alteration, disclosure).</dd>
            <dd>The “Purpose” of the processing operation is the primary objective in using the Personal Data. Your Personal Data are collected for a specified, legitimate objective (as detailed in point 2. “For what Purpose do we collect and process your Personal Data?” below) and are not further processed in a manner that is incompatible with that initial objective.</dd>
            <dd>The “Controller” is the natural or legal person who decides whether the Personal Data should be processed and how that processing operation will be performed, in particular by determining what Purposes the data will serve and the tools and means that will be used for their processing. </dd>
            <dd>A “Recipient” is a natural or legal person to whom your Personal Data are disclosed or made accessible and which are not the Data Controller (or employees and representatives thereof).</dd>
            <dd>“Sonepar Group” means any and all companies, corporations and other entities (“Affiliate(s)”) controlled directly or indirectly by Sonepar, a French société par actions simplifiée, with registered office at 25, rue d’Astorg, 75008 Paris, France and registered with the Registre de Commerce et des Sociétés of Paris under registration number : 585 580 202 (“Sonepar”). For the purposes of this definition, the term “control” means the possession, directly or indirectly, of at least fifty percent (50%) of the share capital or voting rights.</dd>
        </dl>
        <dl>
            <dt>2.For what Purposes do we collect and process your Personal Data?</dt>
            <dd>This Site (<a href="https://www.buytradeforce.com/">https://www.buytradeforce.com/</a>) is dedicated to the promotion and publicizing of our TRADEFORCE products to our current and potential customers.
                <br />The Data Controller collects and processes certain of your Personal Data through this Site in order to:</dd>
            <dd>
                <ul class="ul-disc">
                    <li>provide certain services through the Site;</li>
                    <li>contact You to present or offer certain TRADEFORCE products following your registration as User and/or receipt of a “Contact Us” form;</li>
                    <li>communicate with You, especially through the “Contact Us” form and within the frame of your TRADEFORCE business relation;</li>
                    <li>provide you access to your User account;</li>
                    <li>develop, improve and commercialize products and services; and</li>
                    <li>measure the audience of the Site and personalize your User experience.</li>
                </ul>
            </dd>
            <dd>In addition, and when necessary, Sonepar and Affiliates of the Sonepar Group may always process your Personal Data in connection with litigation or pre-litigation procedures in which Sonepar  and/or Affiliates of the Sonepar Group are involved, in order to exercise their rights and defend their interests.</dd>
        </dl>
        <dl>
            <dt>3.Who COLLECTS AND processes your Personal Data?</dt>
            <dd>Data Controller: The Personal Data Processing operations listed in above point 2. “For what Purpose do we collect and process your Personal Data?” are performed under the responsibility of:
            <div style="text-align:center">
                <br />Sonepar International Services SA
                <br />a company incorporated in Switzerland, with registered office at Geneva Business Centre, Avenue des Morgines 12, CH-1213 Petit Lancy
                <br />(”SIS”)
                <br />and/or
                <br />Electric Fever Co. Ltd.
                <br />505-506 Bld.G, Xuhui Vanke Center, No. 9335 Humin Road Xuhui District, 200235 Shanghai P.R.China
                <br />(“SGSO”)
            </div>   
            
                <br />SIS and SGSO are Sonepar Group Affiliates. </dd>
        </dl>
        <dl>
            <dt>4.On what basis are your Personal Data processed?</dt>
            <dd>We collect and process your Personal Data based on one or several of the following bases:</dd>
            <dd>
            <ul class="ul-disc">
                <li>your decision to use the Site;</li>
                <li>your request to be contacted by us;</li>
                <li>performance of an agreement with You or your company ;</li>
                <li>steps undertaken at your request prior to entering into a contract/agreement; and</li>
                <li>our legitimate interests, especially when the agreement above was executed with a company for which you work, your Personal Data are processed based on the Data Controller’s legitimate interest to manage and develop its business activities within the framework of the agreement signed with the said company.</li>
            </ul>
            </dd>
            <dd>If you do not want or no longer want to be contacted by SIS or any Sonepar Group Affiliate, please contact us as described below in point 10. “What Are Your Rights?” </dd>
        </dl>
        <dl>
            <dt>5.What categories of PERsonal Data are processed?</dt>
            <dd>The Personal Data collected and processed through this Site include:</dd>
            <dd>
                <ul class="ul-disc">
                    <li>For all Users: Technical Personal Data relating to your use of the Site (such as IP address, technical data relating to the device and browser used, cookies, statistics relating to the use of the Site, its content and the services it offers);</li>
                    <li>For Users who create an account : Username/login, title, email address, name, phone number (if you choose to provide one), country and city;</li>
                    <li>For Users who use the “Contact Us” form : Name, phone, email, as well as Personal Data that may be contained in your Company Name and in your message. </li>
                </ul>
            </dd>
        </dl>
        <dl>
            <dt>6.For how long are your Personal Data kept?</dt>
            <dd>Concerning cookies and technical data : the cookie duration depends on the type of cookie in question. The maximum duration of a cookie is 13 months after which the it shall be deleted.  For additional information, please refer to the Cookies section in the <a href="/Media/Terms">Terms of Use</a> .</dd>
            <dd>Concerning User account data : we keep your Personal Data so long as your User account is active. Please note that your User account will be deleted after 365 consecutive days of inactivity and/or whenever you suppress your account or instruct us to do so.</dd>
            <dd>Concerning contact information : Your Personal Data are kept three (3) years after you last contacted us. If you become a TRADEFORCE customer, your Personal Data will be kept as defined under the relevant privacy policy.</dd>
            <dd>Afterwards, your Personal Data may be kept in archives for the period authorized by applicable laws and regulations and/or so as for us to exercise our rights as a defendant or plaintiff before any tribunal, court of law or authorities.</dd>
        </dl>
        <dl>
            <dt>7.How DO WE ensure the security of your Personal Data?</dt>
            <dd>The Data Controller has implemented reasonable technical (for example, firewalls) and organizational (for example, username/password system, physical protection solutions) measures to protect your Personal Data from destruction, loss, alteration, disclosure or unauthorized access by a third party.</dd>
            <dd>We require all service providers that process your Personal Data on our behalf (if any) to make contractual commitments to a similar or superior standard. </dd>
        </dl>
        <dl>
            <dt>8.To whom might we disclose your Personal Data?</dt>
            <dd>Your Personal Data will only be used by and disclosed to persons who require access to those data for the Purposes described in this Policy or in order to perform their duties, in all cases in accordance with the applicable laws and regulations. </dd>
            <dd>
                Data Controller may disclose some of your Personal Data to:
                <ul class="ul-disc">
                    <li>processors or service providers acting on its behalf and in accordance with its instructions;</li>
                    <li>Sonepar and other Sonepar Group companies;</li>
                    <li>legal and administrative authorities, when required by law or in connection with litigation or pre-litigation procedures; and</li>
                    <li>a buyer or partner in the event of a merger, joint venture or disposal.</li>
                </ul>
            </dd>
            <dd>We ensure that your Personal Data are only disclosed to third parties within an adequate contractual framework that guarantees the security and confidentiality of your data and compliance with the Purpose(s) of the Processing operation. </dd>
            <dd>
                As regards this Site, your Personal Data is disclosed to the following relevant recipients : 
                <ul class="ul-disc">
                    <li>
                        Relevant Sonepar Group Affiliates:  Your Personal Data
                        <ul class="ul-disc" style="font-size: 17px;color: #555;">
                            <li>is processed by SGSO and our TRADEFORCE team located in China who will identify the most suited Sonepar Group Affiliate(s) given your profession and location;</li>
                            <li>is then transferred to said Affiliate(s) so as for it/them to contact you in relation with your request and/or to offer you certain products we believe could be of interest to you following up on the documents downloaded on our Site; </li>
                        </ul>
                    </li>
                </ul>
                <br />
                <div>
                    Please note that Sonepar may also process your Personal Data if and when hosted on its IT systems or networks and/or as required to perform certain projects and processes in pursuance of its legitimate interest (including group wide projects and data consolidation).
                </div>
                <br />
                <ul class="ul-disc">
                    <li>Outside services providers : </li>
                </ul>
                We transfer your Personal Data to certain recipients that are not Sonepar Group Affiliates that act as data processors (if and when necessary for them to perform their services and missions), such as data hosting services and our website creation and administration agency.
            </dd>
        </dl>
        <dl>
            <dt>9.Where might your Personal Data be transferred?</dt>
            <dd>This Site is hosted in France.</dd>
            <dd>Nevertheless, as a result of the Sonepar Group’s international footprint, some of the Recipients who will have access to your Personal Data (such as entities that belong to the Sonepar Group and/or their business partners), are based outside the European Union. This could especially be the case in order to process and transfer your request or contacts details to the most appropriate Sonepar entity or contact person based on your country or profession.</dd>
            <dd>Please note that such countries may or may not present the same legal guarantees as those which are required in the European Union. We will contractualize such transfer under one of the legal frameworks authorized by the European Union.</dd>
            <dd>By clicking on the following link, you can find a list of the entities that belong to the Sonepar Group and the countries in which they operate: <a href="https://www.sonepar.com/find-us/country-directory.html">https://www.sonepar.com/find-us/country-directory.html</a>.</dd>
            <dd>Additional information on the terms and conditions of data transfers may be obtained by sending a request to the contact indicated in point 10. below “What are your rights?”. </dd>
        </dl>
        <dl>
            <dt>10.What are your rights?</dt>
            <dd>You are entitled to access and modify your Personal Data collected through this Site, subject to the applicable legal provisions.</dd>
            <dd>Your rights include:
                <ul class="ul-disc">
                    <li>Right of access: you may obtain a copy of the Personal Data processed through this Site.</li>
                    <li>Right to rectification: if you believe that your Personal Data are incorrect or incomplete, you may request a rectification.</li>
                    <li>Right to erasure: in certain cases provided for by law, you may request that your Personal Data be erased, in particular where the Processing operation is exceptionally based on your consent and you wish to withdraw that consent or where it appears that your Personal Data are no longer necessary in relation to the Purposes for which they were collected or processed. However, this right is not unconditional and we may have a legal basis or legitimate reason to keep your Personal Data.</li>
                    <li>Right to object: in certain cases, you may object to the Processing of your Personal Data on grounds relating to your personal situation. However, this right is not unconditional and we may reject your request for compelling legitimate reasons.</li>
                    <li>Right to restrict Processing: you may also request that the Processing of your Personal Data be restricted (suspended, for example) if (i) your Personal Data are incorrect, (ii) you have exercised your right to object or (iii) the data are no longer needed for the processing operation but are still required to establish, exercise or defend your legal rights.</li>
                    <li>Right to data portability: when this right applies, you have the right to receive the Personal Data that you have provided or, where technically feasible, to transmit those data to a third party.</li>
                    <li>Standard contractual clauses: you have the right to obtain a copy of the standard contractual clauses signed when your Personal Data are transferred outside the European Economic Area to countries which the European Commission does not consider as providing an adequate level of Personal Data protection.</li>
                    <li>Right to give instructions regarding the use of your Personal Data after your death: you have the right to give us instructions regarding the use of your Personal Data after your death.</li>
                    <li>Right to withdraw your consent: if the processing of your Personal Data is based on your consent, you may withdraw it at any time. </li>
                </ul>
            </dd>
            <dd>
                You may exercise your rights at any time. To exercise your rights, please write to the following address:
                <div style="text-align:center">SGSO@sonepar.com
                    <br />or</div>
                
                send us a written notice at:
                <div style="text-align:center">Sonepar International Service
                    <br />Geneva Business Centre, Avenue des Morgines 12,
                    <br />CH-1213 Petit Lancy,
                    <br />Switzerland
                    <br />or
                    <br />Electric Fever Co. Ltd.
                    <br />[505-506 Bld.G, Xuhui Vanke Center, No. 9335 Humin Road Xuhui District, 200235 Shanghai P.R.China]</div>
                
            </dd>
            <dd>
                In order to expedite your request, please indicate « Privacy » or « Personal Data » in the object/reference of your communication. 
            </dd>
            <dd>You may also file a complaint with the competent supervisory authority.</dd>
            <dd>
                More information about supervisory authorities in Switzerland may be found here:  <br /><a href="https://www.edoeb.admin.ch/edoeb/en/home/the-fdpic/links/data-protection---switzerland.html">https://www.edoeb.admin.ch/edoeb/en/home/the-fdpic/links/data-protection---switzerland.html</a>
            </dd>
        </dl>
        <dl>
            <dt>11.Articulation with other sonepar privacy policies</dt>
            <dd>This Policy applies to the Personal Data processed for the Purposes detailed in point 2. “For what Purposes do we collect and process your Personal Data?” through this Site.</dd>
            <dd>Different privacy policies may apply to other processing activities performed by other Sonepar Group companies and/or if you become a TRADEFORCE customer.</dd>
        </dl>
        <dl>
            <dt>12.changes to our privacy policy</dt>
            <dd>We will amend this Privacy Policy as required and from time to time to take into account modifications of the Personal Data processing activities undertaken through this Site as well as legal and regulatory evolutions pertaining to the protection of Personal Data.</dd>
            <dd>The Site will be updated accordingly so as for you to always be aware of what Personal Data we collect through this Site, how we use it, and under what circumstances we share information with others.</dd>
        </dl>
        <dl>
            <dt>13.Version</dt>
            <dd>
                Last update made on [2020-10-12]
                <br />This Privacy Policy may be updated or modified from time to time.
                <br />We therefore recommend that you regularly consult this Privacy Policy.
                <br />Translations of this document may be subject to interpretation. Only the English version is authoritative.
            </dd>
            <dd class="d1" style="text-align:center">All Rights Reserved – September 2020</dd>
        </dl>
    </div>
</div>
<style>
    .privacy-content { border-top: 1px solid #c0c0c0;padding:25px 6px 40px 6px;}
    .privacy-content > dl {color:#333 }
    .privacy-content > dl > dt { font-family: 'acuminprosemicondblod'; font-size: 30px; line-height: 50px; padding-bottom: 12px; text-transform: uppercase; }
    .privacy-content > dl > dd { font-size: 18px; line-height: 1.35em;padding-bottom:1em }
    .privacy-content > dl > dd.d1 {font-size:24px }
    .ppolicy { padding-right: 18px }
    .ul-disc { list-style-type: disc; padding-left: 1em; }
    .ul-disc li {padding:3px 0 }
    .privacy-content > dl > dd a { color: #00c4b3 }
</style>
<script>

</script>