@{
    ViewBag.Title = "Terms of Use";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ViewBag.NavIndex = 6;
}
<link href="~/Content/Css/About.css" rel="stylesheet" />
<div class="ban01">
    <img src="~/Content/Img/News/DLbanner.jpg" />
</div>
<div class="brand-story">
    <h2>Terms of Use</h2>
    <h3></h3>
</div>
<div class="main1180">
    <div class="privacy-content">
        <dl>
            <dt>Notice for Users of this website</dt>
            <dd>Consultation or use of this website (the “Site”) or any of its content and services and in whatever language involves your full acceptance of the general conditions and terms of use (the “<b>Terms of Use</b>”) set out below.</dd>
        </dl>
        <dl>
            <dt>Contents</dt>
            <dd>
                <ul class="ul-disc">
                    <li>General Terms of Use</li>
                    <li>Sonepar Copyright Information</li>
                    <li>Cookies Policy</li>
                    <li>Hosting and development  </li>
                </ul> 
            </dd>
        </dl>
        <dl>
            <dt>General Terms of Use</dt>
            <dd class="d1">1) Acceptance of Terms</dd>
            <dd>The use of the Site and its Content (as described in section IV below) is subject to your acceptance of the Terms of Use, our Privacy Policy and any additional terms and conditions set out on this Site.</dd>
            <dd>If you do not agree to be bound by and to comply with all of the foregoing, you may not access or use the information or the services provided on this Site.</dd>
            <dd>If you do not agree to any of the additional terms or conditions which apply to particular Content (as defined below), you may NOT use the part of the Site which contains such Content or the Content itself.</dd>
            <dd>Please note that you cannot buy TRADEFORCE products through this Site. Any purchase of TRADEFORCE products is subject to different and independent terms and conditions, being those upon which the purchase is made.</dd>
            <dd class="d1">2)Amendments</dd>
            <dd>The Terms of Use may be amended by the Publisher (as defined in section II, 11) below) at any time. The amended Terms of Use shall take effect following their publication on this Site. You hereby agree to regularly refer to the Terms of Use published on this Site to ensure that you remain aware of all terms governing your use thereof.</dd>
            <dd class="d1">3)Availability</dd>
            <dd>The Publisher reserves its right, at any time, to:<br />
                <ul class="ul-disc">
                    <li>suspend, interrupt or limit the access to all or part of the Site, reserve the access to the Site (or to certain parts of the Site) to a determined category of Users;</li>
                    <li>delete or modify any information or services it contains or links to;</li>
                    <li>suspend the site temporarily in order to carry out updates or definitively. </li>
                </ul>
            </dd>
            <dd class="d1">4)Limitation of damages</dd>
            <dd>4.1	The Publisher is a Sonepar Group Affiliate. “<b>Sonepar Group</b>” comprises any and all companies, corporations and other entities (“<b>Affiliate(s)</b>”) controlled directly or indirectly by Sonepar, a French société par actions simplifiée, with registered office at 25, rue d’Astorg, 75008 Paris, France and registered with the Registre de Commerce et des Sociétés of Paris under registration number : 585 580 202 (“<b>Sonepar</b>”). For the purposes of this definition, “control” means the possession, directly or indirectly, of at least fifty percent (50%) of the share capital or voting rights.”</dd>
            <dd>The Publisher, Sonepar and/or Sonepar Group Affiliates :<br />
            <ul class="ul-disc">
                <li>(i)assume no liability regarding the accuracy of the information provided on this Site and/or its availability or content. All content is provided “as is” and “as available”; </li>
                <li>(ii)expressly disclaim any warranties of any kind, express or implied, including but not limited to, warranties of merchantability, fitness for a particular purpose, non-infringement or any warranties regarding the use of this Site or the content contained therein.</li>
            </ul>
            </dd>
            <dd>4.2	 We are committed to the security of this Site and its content but cannot give any warranty or representation as to the absence of third-party interception or attacks or other harmful elements.
<br />We recommend you exercise due care and remain prudent when using this Site and the Internet and protect your devices and data with appropriate security measures.</dd>
            <dd>
                4.3	In no event shall the Publisher, Sonepar and/or Sonepar Group Affiliates be liable for any direct, indirect, consequential, punitive, special or incidental damages (including but not limited to, damages for loss of business, contract, revenue, data, information or business interruption) resulting from, arising out of or in connection with the use of, or inability to use, this Site or its contents, even if the Publisher, Sonepar and/or Sonepar Group Affiliates was/were advised of the possibility of such damages. Any action brought against the Publisher, Sonepar and/or any Sonepar Group Affiliate(s) pertaining to or in connection with this Site, must be filed and notified to the Publisher, Sonepar and/or the concerned Sonepar Group Affiliate(s) within one year of the date on which the cause of the action arose. 
            </dd>
            <dd>4.4	The Publisher, Sonepar and/or Sonepar Group Affiliates cannot be held liable to you or any third party in case of legal proceedings against you (or the company your work for or represent) brought (i) because of the use of the Site or of any service accessible via Internet and/or (ii) due to any use that does not comply with these Terms of Use. </dd>
            <dd class="d1">5)Links to third-party websites</dd>
            <dd>This Site may provide links to other websites that are not published by the Publisher, Sonepar and/or Sonepar Group Affiliates. Under no circumstances shall the Publisher, Sonepar and/or Sonepar Group Affiliates be held responsible or liable for the content of any such third-party websites. The Publisher (as defined in section II, 11) below) only provides such links for the convenience of the Site’s users and the inclusion of any such link does not in any way imply endorsement by the Publisher, Sonepar and/or Sonepar Group Affiliate(s) of the content thereof.</dd>
            <dd class="d1">6)Hypertext links</dd>
            <dd>The implementation by you (or any natural or legal person you work for or on behalf of) of any hypertext links to all or part of the Site is strictly prohibited, unless prior written discretionary permission has been obtained from a duly authorized representative of Sonepar. Sonepar may withdraw its consent and authorization at any time as of right. Any such hypertext link shall be removed on simple request of the Publisher.</dd>
            <dd class="d1">7)Jurisdiction and governing law</dd>
            <dd>These Terms of Use shall be governed by and construed in accordance with the laws of Switzerland as applicable in the Canton of Geneva, without regard to its conflict of law provisions. By using this Site, you acknowledge the exclusive jurisdiction of the courts of Switzerland, Canton of Geneva for any claim or cause of action arising out of, relating to or falling within the scope of these Terms of Use or the use of this Site provided that such exclusivity applies to legal actions initiated by or brought against the Publisher, Sonepar and/or the concerned Sonepar Group Affiliate(s).</dd>
            <dd class="d1">8)Prevailing language</dd>
            <dd>These Terms of Use, our Privacy Policy and all other notices posted on this Site have been drawn up in English. Although translations in other languages of any of the foregoing documents may be available, such translations may not be up to date or complete. Accordingly, you agree that in the event of any conflict between the English language version of the foregoing documents and any other translations relating thereto, the English language version of such documents shall prevail.</dd>
            <dd class="d1">9)Personal Data</dd>
            <dd>Personal data collected through this Site shall be used in accordance with the Site’s Privacy Policy available <a href="/Media/Privacy">privacy policy</a></dd>
            <dd class="d1">10)No illegal or illicit use</dd>
            <dd>It is strictly forbidden to make any use of this Site or any of its Content for illegitimate, illicit, immoral or illegal use(s) or purposes and/or to try to or illegally gain access or control of all or part of this Site or content in furtherance of any such motive. </dd>
            <dd class="d1">11)Mandatory declarations</dd>
            <dd>
                This Site is published by<br />
                <div style="text-align:center">
                    Sonepar International Services SA
                    <br />Geneva Business Centre, Avenue des Morgines 12,
                    <br />CH-1213 Petit Lancy,
                    <br />Switzerland
                    <br />Phone number : 022 879 11 40
                    <br />Enterprise identification number :(IDE/UID) CHE-109.910.245.
                    <br />(the “<b>Publisher</b>” or “<b>SIS</b>”)
                </div>
                The publishing manager is Jérôme MALASSIGNE, director.
                <div id="cookies">
                    The TRADEFORCE Brand and Communication manager is Mrs. Emma LIU.
                </div>
                Contact information on TRADEFORCE and related products : SGSO@sonepar.com
            </dd>
        </dl>
        <dl>
            <dt>Cookies policy</dt>
            <dd class="d1">1) What are cookies ?</dd>
            <dd>
                Cookies are a feature of web browser software that allows web servers to recognize the computer used to access a website. Cookies are small text files that are placed on your computer by websites that you visit. Cookies allow the web server to remember what information a user accesses on one web page to simplify subsequent interactions with that website by the same user or to use the information to streamline the user’s transactions on related web pages. This makes it easier for a user to move from web page to web page and to maintain a virtual session. Cookies should make your online experience easier and more personalized.
                <br />When the volume of information is significant, the website records on the client’s computer only an identifier (a unique number assigned to the user). Information is then stored locally on the server’s side, but is connected to the user through the identifier contained in the cookie.
            </dd>
            <dd class="d1">2)Why do we use cookies ?</dd>
            <dd>In order to provide our Users with a better service, we measure the number of page views, the number of visits, the different actions performed by visitors on our site, the localisation of our visitors and the number of times visitors return to our site (“<b>audience cookies</b>”); we also use cookies to allow you to create and log in to your accounts as well as to offer you social media share buttons.
                <br />For this purpose, we use Google Analytics, a web analytics service provided by Google, Inc. (“<b>Google</b>”). The information generated by the cookie about your use of the Site will be transmitted to and stored by Google on servers in the United States of America (“<b>USA</b>”).
                <br />In case IP-anonymisation is activated on this Site, your IP address will be truncated within the area of Member States of the European Union or other parties to the Agreement on the European Economic Area. Only in exceptional cases the whole IP address will be first transferred to a Google server in the USA and truncated there. The IP-anonymisation is active on this Site.
                <br />Google will use this information on behalf of the operator of this Site for the purpose of evaluating your use of the Site, compiling reports on Site activity for Site operators and providing them other services relating to Site activity and internet usage. The IP-address that your browser conveys within the scope of Google Analytics will not be associated with any other data held by Google.
                <br />You can opt-out from being tracked by Google Analytics with effect for the future by downloading and installing Google Analytics Opt-out Browser Add-on for your current web browser: <a href="http://tools.google.com/dlpage/gaoptout?hl=en 3"></a>http://tools.google.com/dlpage/gaoptout?hl=en 3</dd>
            <dd class="d1">3)Cookies description</dd>
            <dd>Here are the names and purposes of the cookies used on this Site.
            <br /><b>First-party cookies:</b>
                <br />Name : “.ASPXAUTH”
                <br />Purpose : The cookie value is used to forms authentication after user account encryption.
                <br />Duration : 1 hour
                <br />Name : “lang”
                <br />Purpose : The cookie value is used to record your language preferences.
                <br />Duration : until the close of your browser
                <br />Name: accrecord
                <br />Purpose: The cookie value is used to record whether the user agrees to record personal privacy
                <br />Duration: permanent effective after recording for a maximum duration of 13 months
                <br /><b>Third-party cookies:</b>
                <ul class="ul-disc">
                    <li>Name: _gid
                        <br />Implemented by: Google Analytics
                        <br />Purpose: Differentiate users
                        <br />Duration: 1 week</li>
                    <li>Name: _ga
                        <br />Implemented by: Google Analytics
                        <br />Purpose: Differentiate unique users – used to generate statistical data on how the User uses the website
                        <br />Duration: 1 year</li>
                    <li>Name: _gat
                        <div>Implemented by: Google Analytics</div>
                        Purpose: Limit the number of data collection requests and accelerate request rate
                        <br />Duration: 1 week</li>
                </ul>
            </dd>
            <dd  class="d1">4)Your choices regarding cookies</dd>
            <dd>
                Your consent is required to activate certain cookies on the Site that are not strictly necessary for you to use this Site and that do not fall under the scope of legal exceptions to the collection of consent.
                <br />You will be provided with information necessary to assess whether you wish to consent to the use of cookies or not through the cookies banner appearing when you first visit this website and in this section.
                <div>We will provide you with: (i) the identity of the data controller(s) which appears in the <a href="/Media/Privacy">Privacy Policy</a>, (ii) the purpose of the use of cookies and (iii) the existence of your right to withdraw consent.</div>
                <div id="choices">You are free to accept or not the use of cookies that are not strictly technically required to navigate on this Site. In any case, the refusal of cookies will not obstruct your access to the Site, however, please note that by refusing or deleting cookies, you may deactivate some of the Site’s functionalities, notably the access to content or services requiring that you identify yourself.       </div>
            </dd>
            <dd>
                <b>Expressing your cookies choices through the cookies banner: </b>
                <br /> consent to the use of cookies will be collected though a banner system appearing on the Site. The banner system will allow you to personalize your cookies choices and to consent or not to the use of certain cookies.
                <br />Please note that you are also entitled to retract your consent or modify the cookies to which you consent at any time by clicking on this “<a href="javascript:" onclick="ModifyCookie()" style="color:#00c4b3">Modify my cookies choices</a>” link.
            </dd>
            <dd>
                <b>Expressing general choices about cookies through your browser settings: </b>
                <br />You can also control the use of cookies by setting the preferences of your browser. Please note that by refusing or deleting cookies, you may deactivate some of the Site’s functionalities, notably the access to content or services requiring that you identify yourself.
            </dd>
            <dd>
                For users of Microsoft Internet Explorer:
            </dd>
            <dd>
                Step 1: Select “Tools” then “Internet Options”
                <br />Step 2: Click on “Privacy”
                <br />Step 3: Select the desired level using the cursor.
            </dd>
            <dd>
                For users of Mozilla Firefox:
            </dd>
            <dd>
                Step 1: Select “Tools” and then “Options”
                <br />Step 2: Select the “Privacy” panel
                <br />Step 3: Set “History” to “Use custom settings for history” and set your preference.
            </dd>
            <dd>
                For users of Google Chrome:
            </dd>
            <dd>
                Step 1: Click the Chrome menu on the browser “Settings”
                <br />Step 2: Click on “Show advanced settings” and then on “Privacy sections”
                <br />Step 3: Select in the “Cookies” section the desired level”.
            </dd>
            <dd>
                For users of Safari:
            </dd>
            <dd>
                Step 1: Click on the Safari menu
                <br />Step 2: Click on “Preferences”
                <br />Step 3: Select in “Security” the desired level.
            </dd>
            <dd>
                You may also use the “Do Not Track” setting which exists on most browsers. By doing so, your browser will send a signal to the websites you visit to inform them you do not wish to enable tracking cookies and may thus prevent certain tracking cookies and components from being placed on your device (but this does not guarantee all such technologies will be disabled).
            </dd>
        </dl>
        <dl>
            <dt>Sonepar copyright information - property</dt>
            <dd>Unless otherwise explicitly stated, copyright and any other proprietary rights and titles over the general structure and content of this Site (including but not limited to products, materials, services, data or information software, audio, video, text data and photographs, design, models, drawings contained on or available through this Site, structure, selection, coordination, expression, "look and feel" and arrangement of the Site and any of its content (“<b>Content</b>”)) is owned, controlled or licensed by or to the Publisher, Sonepar and/or Sonepar Group Affiliates or its/their respective licensors, irrespective of whether a copyright symbol or statement is present or not. Access to this Site does not grant you (or any other natural or legal person) any title, right or licence on any intellectual property rights contained or published by or on the Site.</dd>
            <dd>A number of logos, service marks, trademarks, slogans and product names can be found on this Site. By making them available on this Site, the Publisher, Sonepar and/or Sonepar Group Affiliates are neither granting, nor shall be construed as granting you or any other natural or legal person, a licence for the use thereof or any other rights, claim, interest or title therein or relating thereto.</dd>
            <dd>Except as otherwise provided, this Site and/or any Content published on this Site may not, in whole or in part, be copied, reproduced, republished, uploaded, posted, publicly displayed, encoded, translated, transmitted or distributed in any way to any other device, server, website or to or through any other medium for publication or distribution or for any commercial enterprise, unless prior written and discretionary consent of an authorized representative of the Publisher has been specifically obtained.</dd>
            <dd>By exception, Content published on this Site may be reproduced or distributed in unmodified form for personal non-commercial use only. Any other use of the Content in whole or in part, by any means whatsoever, including but not limited to distribution, reproduction, modification, display or transmission without the prior written consent of the Publisher is strictly prohibited. However, in the event that such permission is granted to you by the Publisher, all notices regarding the existence or ownership of copyright and any other proprietary rights (such as the © Sonepar symbol) shall be retained on all reproductions.</dd>
            <dd>If you believe that your work has been reproduced on this Site in a manner that constitutes copyright or any other intellectual right infringement, please provide us with a notice of copyright infringement identifying the original copyrighted work and the sections of the Site that you claim are infringing such copyright/right.</dd>
        </dl>
        <dl>
            <dt>Hosting and development </dt>
            <dd> This Site is hosted and developed by:
                <br />Shanghai Tianji Network Technology Co., Ltd
                <br />contact@tianjinetwork
                <br />This Site is hosted in Paris, France.</dd>
        </dl>
    </div>
</div>
<style>
    .privacy-content { border-top: 1px solid #c0c0c0;padding:25px 6px 40px 6px;}
    .privacy-content > dl {color:#333 }
    .privacy-content > dl > dt { font-family: 'acuminprosemicondblod'; font-size: 30px; line-height: 50px; padding-bottom: 12px; text-transform: uppercase; }
    .privacy-content > dl > dd { font-size: 18px; line-height: 1.35em;padding-bottom:1em }
    .privacy-content > dl > dd.d1 {font-size:24px }
    .ppolicy { padding-right: 18px }
    .ul-disc { list-style-type: disc; padding-left: 1em; }
    .ul-disc li { padding: 3px 0 }
</style>
<script>

</script>