@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@using TradeForce.Models
<div class="ban01">
    <img src="/Content/Img/Contact/contactUs_banner.jpg" />
</div>
<div class="main-bd">
    <h2 class="crumbs">Home  > Support > Contact Us</h2>
    <div class="sis">
        <span><img src="/Content/Img/Contact/contactUs_b2.jpg" /></span>
        <dl>
            <dt>Sonepar International Services</dt>
            <dd>
                <p>Geneva Business Centre</p>
                <p>Avenue des Morgines, 12</p>
                <p>CH-1213 Petit Lancy, Switzerland</p>
                @*<p>Office: +41 22 879 11 40</p>*@
            </dd>
        </dl>
    </div>
    <div class="suggestions-form">
        <dl>
            <dt>Do you have questions or<br />  suggestions? </dt>
            <dd>Simply fill up the form and send it to us.
            </dd>
        </dl>
        <div class="send-from">
            <label>Company *</label>
            <span><input name="Company" type="text" /></span>
            <label>Country *</label>
            <span>
                <select name="Country">
                    <option>Please Choose</option>
                    <option value="@((int)Lang.english)">Britain</option>
                    <option value="@((int)Lang.French)">France</option>
                    <option>Italia</option>
                    <option>Nederland</option>
                    <option>Norway</option>
                    <option>Sweden</option>
                    <option>Finland</option>
                </select>
            </span>
            <label>Name *</label>
            <span><input name="Name" type="text" /></span>
            <label>Email *</label>
            <span><input name="Email" type="text" /></span>
            <label>Phone *</label>
            <span><input name="Phone" type="text" /></span>
            <label>Message *</label>
            <span><textarea name="Message"></textarea></span>
            <span class="send"><input type="button" onclick="send()" value="SEND" /></span>
        </div>
    </div>
</div>
<div class="contact-foot">
    <img src="/Content/Img/Contact/contact_foot.jpg" />
</div>
<style>
    .sis { background: #d8dfe1; display: flex }
    .sis > span { width: 585px }
    .sis > dl { }
    .sis > dl dt { font-size: 24px; line-height: 120px; font-family: acuminprosemicondblod }
    .sis > dl dd { font-size: 20px; line-height: 38px; padding-top: 5px }
    .suggestions-form { display: flex; padding-top: 45px }
    .suggestions-form dl { flex: 1 }
    .suggestions-form dt { font-family: acuminprosemicondblod; font-size: 30px }
    .suggestions-form dd { font-size: 20px; padding-top: 20px }
    .suggestions-form > div { width: 670px }
    .suggestions-form > div label { display: block; font-size: 20px; line-height: 42px; padding-top: 2px }
    .suggestions-form > div span { display: block; padding-right: 12px; }
    .suggestions-form > div input[type=text],
    .suggestions-form > div select,
    .suggestions-form > div textarea { border: 1px solid #b6bcc0; height: 46px; width: 100% }
    .suggestions-form > div textarea { height: 190px }
    .send { text-align: right; padding-top: 30px }
    .send input { background: #00c4b3; color: #fff; width: 180px; height: 50px; border: 0; font-size: 20px; cursor: pointer }
    .send input:hover { opacity: .8 }
    .contact-foot { margin-top: -30px; z-index: -1; position: relative; }
    .contact-foot img { width: 100%; vertical-align: middle; }
</style>
<script>
    function send() {
        var data = {};
        var ok = true;
        $(".send-from [name]").each(function () {
            if (!$(this).val().trim()) {
                alert($(this).attr("name") + " cannot be empty!");
                ok = false;
                return false;
            }
            data[$(this).attr("name")] = $(this).val();
        })
        if (ok) {
            $.post("/Home/AddQuestions", data, function (res) {
                res = JSON.parse(res);
                if (res.Succ) {
                    alert("Submitted successfully");
                    location.reload();
                } else {
                    alert(res.Msg);
                }
            });
        }
    }
</script>