@{
    ViewBag.Title = "quality";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ViewBag.NavIndex = 6;
}
@using TradeForce.Models;
@model List<country>
<link href="~/Content/Css/Customers.css" rel="stylesheet" />
<div class="ban01">
    <img src="~/Content/Img/Contact/qualitybanner.jpg" />
</div>
<div class="quality-bg1">
    <div class="main-bd">
        <div class="brand-story">
            <h2>Quality Assurance</h2>
            <h3></h3>
            <p>
                <label>TRADEFORCE </label>
                is committed to equipping professional contractors with high-quality, dependable tools, safety equipment and installation material accessories, giving them the confidence to take on any job, anywhere. 
            </p>
            <p>We only sell through professional trade channels, and our range is designed provide only the essential equipment needed for day-to-day professional use. This puts us in a unique position to ensure that our primary customer – the professional contractor – is the key influence behind everything that we do.</p>
            <p>With high-quality, dependable tools and equipment for professionals, TRADEFORCE is here to be the trusted partner through the adventure of being a professional contractor.</p>
        </div>
    </div>
</div>
<ul class="quality-list">
    <li>
        <div class="main1120">
            <label>
                <img src="~/Content/Img/Contact/qualityimg01.jpg"/>
            </label>
            <dl>
                <dt>High-quality material</dt>
                <dd>
                    <h2><span class="s1">TRADEFORCE</span> tools are built with high-quality materials for professional use in heavy-loaded tough working conditions.</h2>
                    <p class="p1">Cr-V, industrial quality chrome vanadium steel, is used in TRADEFORCE professional tools as a main quality indicator.</p>
                    <p class="p1">S2 steel, tool steel generally requires impact resistance, strong torsion, high hardness, and low stress, especially the fastening tools like screwdriver. These advantages make S2 steel the optimal choice for TRADEFORCE screwdrivers. </p>
                </dd>
            </dl>
        </div>
    </li>
    <li>
        <div class="main1120">
            <dl>
                <dt>Compliance</dt>
                <dd>
                    <h2><span class="s1">TRADEFORCE</span>products comply with international and local regulations, laws and industrial standards that help to secure business in the long term and safeguard the health of our users.</h2>
                </dd>
            </dl>
            <label>
                <img src="~/Content/Img/Contact/qualityimg02.jpg" />
            </label>
        </div>
    </li>
    <li>
        <div class="main1120">
            <label>
                <img src="~/Content/Img/Contact/qualityimg03.jpg" />
            </label>
            <dl>
                <dt>Independent Third-Party Testing</dt>
                <dd>
                    <h2>TRADEFORCE  tools are certified by globally recognized bodies and carry certification marks.</h2>
                    <p style="padding-top:45px"><img style="height:120px" src="~/Content/Img/Contact/qualityimg03_02_01.png"/>
                    <img style="height:120px" src="~/Content/Img/Contact/qualityimg03_02_02.png" /></p>
                </dd>
            </dl>
        </div>
    </li>
    <li>
        <div class="main1120">
            <dl>
                <dt>Factory Validation Tests  </dt>
                <dd>
                    <h2>TRADEFORCE products are put through a range of tests, including Rockwell hardness testing, full function torque testing, microcomputer control electronic testing, and tensile testing, to guarantee optimal quality and performance before they reach our customers’ hands.</h2>
                </dd>
            </dl>
            <label>
                <img src="~/Content/Img/Contact/qualityimg04.jpg" />
            </label>
        </div>
    </li>
</ul>
<style>
    .quality-bg1 { background:url(/Content/Img/Contact/qualitybg.jpg) no-repeat center bottom;padding-bottom:50px}
    .quality-list { }
    .quality-list li{ padding:35px}
    .quality-list li:nth-child(2n+1) { background: #e8ecec }
    .quality-list .main1120 { display: flex }
    .quality-list .main1120 > label { width: 495px }
    .quality-list .main1120 > dl { flex: 1; margin-left: 40px; color: #333;padding-right:30px }
    .quality-list .main1120 > dl dt { font-family: 'acuminproextracondblod';font-size:30px;line-height:58px;padding-bottom:18px}
    .quality-list .main1120 > dl dd h2 { font-size: 18px; line-height: 1.4em; }
    .quality-list .main1120 > dl dd .p1 { font-size: 18px; line-height: 1.4em; padding-top:23px}
    .quality-list .main1120 > dl dd .p1:before { display: inline-block; content: ''; width: 7px; height: 7px; border-radius: 50%; background: #05c5b4; vertical-align: middle; margin-top: -2px; margin-right: 15px;margin-left:1px }
    .quality-list li:nth-child(2n) .main1120 > dl { padding-top: 45px }
    .quality-list .main1120 > dl dd h2 .s1 { font-family: 'acuminprosemicondblod' }
</style>