@{
    ViewBag.Title = "Lifetime Warranty";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ViewBag.NavIndex = 6;
}
<link href="~/Content/Css/About.css" rel="stylesheet" />
<div class="ban01">
    <img src="~/Content/Img/News/DLbanner.jpg" />
    <div class="au-bg2">
        <img src="~/Content/Img/Contact/warranty.png" />
    </div>
</div>

<div class="brand-story">
    <h2>Lifetime Warranty for Hand Tools</h2>
    <h3></h3>
</div>
<div class="major">
    <div class="main1180">
        <div class="title2">According to the country, <label>TRADEFORCE</label> provides a lifetime warranty for hand tools, warrants the Products against manufacturing defects or faults which appear during proper and intended use, maintenance and storage and cause an abnormal use of the product. The lifetime warranty is subject to conditions detailed bellow. </div>
        <div class="warranty-item">
            <img src="~/Content/Img/Contact/Warranty_01.jpg" />
            <dl>
                <dt>The present lifetime warranty for the Products applies in the following conditions:</dt>
                <dd>The Product must be used in accordance with the instructions indicated on the packaging. It must also be maintained and stored in a dry place, with ambient temperature and protected from all defects that can result from external causes.</dd>
                <dd>All manufacturing defect or fault must be notified to Sonepar within ten (10) days from the date of detection.</dd>
                <dd>The Product must be deposited in the distributor, accompanied by the purchase invoice. Additional information may be required in order to identify properly the defect or fault. </dd>
            </dl>
        </div>         
    </div>    
</div>
<div class="main1180">
    <div class="warranty-item wi2">
        <img src="~/Content/Img/Contact/Warranty_02.jpg" />
        <dl>
            <dt>The lifetime warranty does NOT apply in the following cases:  </dt>
            <dd>Defects or faults resulting from improper use, maintenance or storage or contrary to the instructions indicated on the packaging.</dd>
            <dd>Defects resulting from an accident, abusive or improper use, negligence, use with another product not adapted to the usual use of the Product (e.g. saw dedicated for wood and steel used on concrete or stone), repair or maintenance carried out by a non-authorized person.</dd>
            <dd>Defects resulting from normal wear and tear of the Product.</dd>
            <dd>Defects resulting from external causes.</dd>
        </dl>
    </div>
</div>
<h2 class="bottom-word">These terms only cover the general warranty policy, for details please consult the local dealer.  <a href="/Support/Where">Where to buy</a></h2>
<div class="contact-foot">
    <img src="/Content/Img/contact/contact_foot.jpg">
</div>
<style>
    .major { height: 1112px; background: url(/Content/Img/Customers/jszx.jpg); background-size: 100% 100%; margin-top: -96px; padding-top: 96px; }
    .ban01 {position:relative }
    .au-bg2 { position: absolute; top: 0; bottom: 0; left: 6%; }
    .au-bg2:after { content:'';display:inline-block;height:100%;vertical-align:middle}
    .au-bg2 img { vertical-align:middle}
    .title2 { font-size: 20px; padding: 0 20px; line-height: 1.8em; }
    .title2 label { font-family: 'acuminprosemicondblod' }
    .warranty-item { margin-top: 100px; background: #f1f1f1;color:#333 }
    .warranty-item img { width: 100% }
    .warranty-item dl{padding:40px 50px;padding-bottom:55px }
    .warranty-item dt { font-family: 'acuminprosemicondblod'; font-size: 24px ;padding-bottom:32px}
    .warranty-item dd { font-size: 18px; line-height: 1.7em; position: relative; padding: 15px 15px 15px 86px }
    .warranty-item dd:before { content:'';position:absolute;width:24px;height:24px;background:url(/Content/Img/Contact/warranty_ico.png) -8px -2px;left:12px;top:18px}
    .wi2 dd:before { background-position:-48px -3px}
    .contact-foot img { width: 100%; vertical-align: middle; }
    .bottom-word { font-family: 'acuminprosemicondblod'; font-size: 24px;color:#333;text-align:center;padding-top:35px }
    .bottom-word a:hover {color: #00c4b3;}
    .bottom-word a {text-decoration: underline;}
</style>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<script>

</script>