@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Mobile/_Layout.cshtml";
}
<div class="banner">
    <img src="/Content/MImg/index/banner.jpg">
</div>
<div class="we-are">
    <img src="/Content/MImg/support/weAre.jpg">
    <h2>Who we are</h2>
</div>
<dl class="about-content mbody">
    <dt><label>Life As a Contractor is Rarely Easy.</label></dt>
    <dd>From the demands of working sunrise to sunset, wind, rain, or shine, indoor or outdoor, to the challenges of developing your own craft and building your own business – the road to success is long and winding. But in spite of these challenges, or perhaps even because of them, you choose to keep forging forward, moving from one adventure to the next.         </dd>
</dl>
<div class="about-img">
    <img src="/Content/MImg/support/about01.jpg">
</div>
<dl class="about-content ac2 mbody">
    <dt><label>You Need Trusted Partners Who<br>  Have Got Your Back</label></dt>
    <dd>Like all great adventures, the numerous challenges that come with being a trade professional are often better tackled together than faced alone. Whether that means surrounding yourself with the right team, or arming yourself with the right set of equipment, you need trusted partners who have got your back, whatever the situation.</dd>
    <dd>With not only your livelihood, but your life also on the line, it goes without saying that no professional should be exposing themselves to the dangers of injury because they are improperly equipped. Likewise, no job should be rushed, delayed or delivered below standard because of inefficient equipment. </dd>
    <dd>That’s why <span style="color: #00c4b3;">TRADEFORCE</span> prides itself in designing and manufacturing tools and safety equipment purpose-built and exclusively available for trade professionals. Equipment that can be depended on to perform, day in, day out, no matter what the world throws at you.</dd>
</dl>
<div class="about-img">
    <img src="/Content/MImg/support/about02.jpg">
</div>
<dl class="about-content ac3 mbody">
    <dt><label>Born in the Australian Outback in 2005</label></dt>
    <dd>Our love of adventure has been with us from the start. We’ve grown to handle the extreme challenges, covering everything from large-scale infrastructure to daily maintenance and installation. We’ve taken this spirit for adventure and refined it with advanced manufacturing capability, creating a range of essential products that empower you to take on any job, anywhere.        </dd>
</dl>
<div class="about-img">
    <img src="/Content/MImg/support/about03.jpg">
</div>
<dl class="about-content ac4 mbody">
    <dt><label>Any job, anywhere.</label></dt>
    <dd>So whether you’re building up your first set of tools as you enter the trades, or you’re a veteran contractor looking to refresh your essential gear, TRADEFORCE offers a dedicated range of professional equipment that is guaranteed to stand up to the rigors of daily use. This means comfortable and ergonomic designs to maximize efficiency, reduce fatigue and minimize the risk of injury; high-quality, laboratory-tested solutions that can stand up to the demands of professional use; and fire, heat and electrical resistant equipment to ensure you are prepared for any extremes.</dd>
    <dd>Because like you, we aren’t here for the easy ride – we’re here for the challenge, for the opportunity that each job brings to discover something new and build something better than before. Whatever that something is, whatever the adventure brings, know that you can put your trust in <span style="color: #00c4b3;">TRADEFORCE</span> to perform on any job, anywhere. Tradeforce is an exclusive brand for Sonepar Group.</dd>
</dl>