@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ViewBag.NavIndex = 2;
}
<link href="~/Content/Css/About.css" rel="stylesheet" />
<div class="ban01">
    <img src="/Content/Img/About/aboutUs_b1.jpg" />
    <div class="au-bg1">
        <div class="main-bd">
        </div>
    </div>
</div>
<div class="bg1">
    <div class="main-bd">
        <div class="brand-story" id="brandstory">
            <h2>TRADEFORCE Brand</h2>
            <h3></h3>
            <p>
                <label>TRADEFORCE</label>   designs and manufactures tools and safety equipment exclusively for professionals. Born in the Australian outback, we’ve grown to handle the extreme challenges this profession has to offer, a spirit that’s closely reflected in the quality and reliability of our equipment.
            </p>
            <p>
                With high-quality, reliable tools and safety equipment for professionals, TRADEFORCE is here to be your trusted partner through the adventure of being a professional contractor. 
            </p>
        </div>
        <dl class="life-easy">
            <dt>Life As a Contractor is Rarely Easy.</dt>
            <dd>From the demands of working sunrise to sunset, wind, rain, or shine, indoor or outdoor, to the challenges of developing your own craft and building your own business – the road to success is long and winding. But in spite of these challenges, or perhaps even because of them, you choose to keep forging forward, moving from one adventure to the next.</dd>
        </dl>
    </div>
</div>
<div class="bg2">
    <div class="main-bd">
        <dl class="life-easy">
            <dt>You Need Trusted Partners Who Have Got Your Back</dt>
            <dd>Like all great adventures, the numerous challenges that come with being a trade professional are often better tackled together than faced alone. Whether that means surrounding yourself with the right team, or arming yourself with the right set of equipment, you need trusted partners who have got your back, whatever the situation.</dd>
            <dd>With not only your livelihood, but your life also on the line, it goes without saying that no professional should be exposing themselves to the dangers of injury because they are improperly equipped. Likewise, no job should be rushed, delayed or delivered below standard because of inefficient equipment. </dd>
            <dd>That’s why <span style="color:#00c4b3">TRADEFORCE</span> prides itself in designing and manufacturing tools and safety equipment purpose-built and exclusively available for trade professionals. Equipment that can be depended on to perform, day in, day out, no matter what the world throws at you.</dd>
        </dl>
    </div>
</div>
<div class="bg3">
    <dl class="life-easy">
        <dt>Born in the Australian Outback in 2005</dt>
        <dd>Our love of adventure has been with us from the start. We’ve grown to handle the extreme challenges, covering everything from large-scale infrastructure to daily maintenance and installation. We’ve taken this spirit for adventure and refined it with advanced manufacturing capability, creating a range of essential products that empower you to take on any job, anywhere.</dd>
    </dl>
</div>
<div class="bg4">
    <dl class="life-easy">
        <dt>Any job, anywhere.</dt>
        <dd>So whether you’re building up your first set of tools as you enter the trades, or you’re a veteran contractor looking to refresh your essential gear, TRADEFORCE offers a dedicated range of professional equipment that is guaranteed to stand up to the rigors of daily use. This means comfortable and ergonomic designs to maximize efficiency, reduce fatigue and minimize the risk of injury; high-quality, laboratory-tested solutions that can stand up to the demands of professional use; and fire, heat and electrical resistant equipment to ensure you are prepared for any extremes.</dd>
        <dd>Because like you, we aren’t here for the easy ride – we’re here for the challenge, for the opportunity that each job brings to discover something new and build something better than before. Whatever that something is, whatever the adventure brings, know that you can put your trust in <span class="ajspan" style="color:#00c4b3">TRADEFORCE</span> to perform on any job, anywhere. </dd>
        <dd><span class="ajspan">TRADEFORCE</span> is an exclusive brand for Sonepar Group.</dd>
    </dl>
</div>
@*<ul class="bs-img">
    <li><img src="/Content/Img/About/AboutUs_01.jpg" /></li>
    <li><img src="/Content/Img/About/AboutUs_02.jpg" /></li>
    <li><img src="/Content/Img/About/AboutUs_03.jpg" /></li>
    <li><img src="/Content/Img/About/AboutUs_04.jpg" /></li>
</ul>*@
@*<div class="main-bd">
    <div class="brand-story">
        <p>
            Born in Australia in 2005, we adapted our products to handle everything the Australian climates could throw at us. Desserts, heat, ice, snow, wind and rain all had to be considered, but so did how each product would perform in homes and on sites as well as in the wilderness. We created tools that could do it all and now we want to use them to achieve our personal goal—help you produce the best work possible, in time and on budget, through tools that can work on any job, anywhere.
        </p>
        <p>
            With TRADEFORCE products, you can streamline your kit knowing that they’ll perform on any job. Tool selection is simplified and your focus can shift to your work. Safety is secured so you can deliver results every time without the worrying.
        </p>
    </div>
</div>*@
@*<div class="our-vision">
    <ul class="main-bd">
        <li>
            <img src="/Content/Img/About/aboutUs_vision_01.jpg" />
            <h3>Our Mission</h3>
            <p><a href="#">READ MORE</a></p>
        </li>
        <li>
            <img src="/Content/Img/About/aboutUs_vision_02.jpg" />
            <h3>Our Vision</h3>
            <p><a href="#">READ MORE</a></p>
        </li>
        <li>
            <img src="/Content/Img/About/aboutUs_vision_03.jpg" />
            <h3>Our Values</h3>
            <p><a href="#">READ MORE</a></p>
        </li>
    </ul>
</div>*@